<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Welcome to my portfolio page</title>
	<link rel="stylesheet"
	href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/main.css">
</head>
<body>
	<div id="container">
		<header>
			<div id="headshot">
				<img src="../static/images/headshot-round.png"
				alt="My picture">
			</div>
			<h1 class="white" id="name">Eric Linden</h1>
			<div id="icons">
				<a href="mailto:coralvanda@gmail.com">
					<div class="icon-link white">
						<i class="fa fa-envelope fa-2x"
						aria-hidden="true"></i>
					</div>
				</a>
				<a href="https://github.com/coralvanda">
					<div class="icon-link white">
						<i class="fa fa-github fa-2x"
						aria-hidden="true"></i>
					</div>
				</a>
				<a href="https://it.linkedin.com/in/coralvanda">
					<div class="icon-link white">
						<i class="fa fa-linkedin-square fa-2x"
						aria-hidden="true"></i>
					</div>
				</a>
			</div>
		</header>
		<div class="spacer">
			<h1 class="center white fade">Turning ideas into websites</h1>
		</div>
		<div id="projects">
			<h1 class="white fade">Projects</h1>
			<div class="project-box">
				<section class="fade">
					<a href="http://map.coralvanda.com/">
						<h3>Neighborhood Map</h3>
						<p>This project involved creating a single-page
						 web app that utilizes the Google Maps API and
						 GeoNames data to display interactive points of
						 interest and related information on a Google
						 Map.</p>
					</a>
					<p>Technologies used:</p>
					<div class="tech-icons">
						<div class="tech-icon">
							<a href="https://www.javascript.com/">
							<img src="../static/images/js-icon.png"
							alt="Javascript Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://jquery.com/">
							<img src="../static/images/jquery-icon.png"
							alt="jQuery Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="http://knockoutjs.com/">
							<img src="../static/images/knockout-icon.png"
							alt="Knockout Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://www.w3.org/TR/html5/">
							<img src="../static/images/html-icon.png"
							alt="HTML Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://www.w3.org/Style/CSS/Overview.en.html">
							<img src="../static/images/CSS3-icon.png"
							alt="CSS Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://developers.google.com/+/web/api/rest/">
							<img src="../static/images/google-icon.png"
							alt="Google Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="http://www.geonames.org/">
							<img src="../static/images/geonames-icon.png"
							alt="Geonames Icon">
							</a>
						</div>
					</div>
				</section>
				<section class="fade">
					<a href="http://restaurants.coralvanda.com">
						<h3>Restaurant Menus</h3>
						<p>This project involved the creation of a front
						end, back end, database, and user-login system in
						order to display menus at different restaurants,
						and allow for adding and modifying entries.</p>
					</a>
					<p>Technologies used:</p>
					<div class="tech-icons">
						<div class="tech-icon">
							<a href="https://www.python.org/">
							<img src="../static/images/python-icon.png"
							alt="Python Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="http://flask.pocoo.org/">
							<img src="../static/images/flask-icon.png"
							alt="Flask Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="http://www.sqlalchemy.org/">
							<img src="../static/images/sqla-icon.png"
							alt="SQLAlchemy Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://oauth.net/2/">
							<img src="../static/images/oauth-icon.png"
							alt="Oauth2 Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://www.w3.org/TR/html5/">
							<img src="../static/images/html-icon.png"
							alt="HTML Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://www.w3.org/Style/CSS/Overview.en.html">
							<img src="../static/images/CSS3-icon.png"
							alt="CSS Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://developers.google.com/identity/">
							<img src="../static/images/google-icon.png"
							alt="Google Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://developers.facebook.com/docs/facebook-login/">
							<img src="../static/images/facebook-icon.png"
							alt="Facebook Icon">
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="project-box">
				<section class="fade">
					<a href="https://engineapp-backend-intro.appspot.com/">
						<h3>Multi-User Blog</h3>
						<p>This project required the development of both
						front- and back-end components for a page that allows users to register, create and edit posts, and interact with other users' posts.</p>
					</a>
					<p>Technologies used:</p>
					<div class="tech-icons">
						<div class="tech-icon">
							<a href="https://www.python.org/">
							<img src="../static/images/python-icon.png"
							alt="Python Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://www.javascript.com/">
							<img src="../static/images/js-icon.png"
							alt="Javascript Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="http://jinja.pocoo.org/">
							<img src="../static/images/jinja-icon.png"
							alt="Jinja Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://www.w3.org/TR/html5/">
							<img src="../static/images/html-icon.png"
							alt="HTML Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://www.w3.org/Style/CSS/Overview.en.html">
							<img src="../static/images/CSS3-icon.png"
							alt="CSS Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://cloud.google.com/appengine/">
							<img src="../static/images/google-app-engine-icon.png"
							alt="Google App Engine Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://cloud.google.com/appengine/docs/python/ndb/">
							<img src="../static/images/google-ndb-icon.png"
							alt="Google NDB/Datastore Icon">
							</a>
						</div>
					</div>
				</section>
				<section class="fade">
					<a href="http://coralvanda.com/kittyclicker">
						<h3>Kitty Clicker</h3>
						<p>A single-page site that shows a list of names,
						each of which will display an image of a cat that
						records the number of times a user clicks on it.
						</p>
					</a>
					<p>Technologies used:</p>
					<div class="tech-icons">
						<div class="tech-icon">
							<a href="https://www.javascript.com/">
							<img src="../static/images/js-icon.png"
							alt="Javascript Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://www.w3.org/TR/html5/">
							<img src="../static/images/html-icon.png"
							alt="HTML Icon">
							</a>
						</div>
						<div class="tech-icon">
							<a href="https://www.w3.org/Style/CSS/Overview.en.html">
							<img src="../static/images/CSS3-icon.png"
							alt="CSS Icon">
							</a>
						</div>
				</section>
			</div>
		</div>
	</div>
	<script src="../static/lib/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../static/script.js"></script>
</body>
</html>
