html {
	height: 100%;
}

@media only screen and (max-width: 749px) {

	#navbar {
		width: 100%;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	li {
		display: flex;
		min-width: 75px;
		padding: 2px 2px 2px 2px;
		border: 1px solid black;
		text-align: center;
	}

	#button-div {
		height: 35px;
		display: flex;
		flex-wrap: wrap;
	}

	.whole {
		margin: auto;
	}

	#admin {
		margin: auto;
		width: 30%;
	}

	#portfolio-link {
		margin: auto;
	}

	#admin_UI {
		margin: 10px 0 10px 0;
		float: left;
		text-align: left;
	}

	#admin_buttons {
		float: left;
		color: black;
		border-radius: 10px;
		max-width: 200px;
		max-height: 40px;
		text-align: center;
	}
}

@media only screen and (min-width: 750px) {
	#navbar {
		max-width: 150px;
		height: 100%;
	}

	li {
		border-bottom: 1px solid black;
		padding: 8px 0 8px 0;
	}

	.whole {
		height: 100%;
	}

	#admin {
		margin: 5px 0 5px 0;
		width: 90%;
	}

	#portfolio-link {
		margin: auto;
	}

	#admin_UI {
		text-align: right;
	}

	#admin_buttons {
		color: black;
		border-radius: 10px;
		max-width: 200px;
		max-height: 40px;
		margin-left: 475px;
		text-align: center;
	}
}

body {
	margin: 0 0 0 0;
	width: 100%;
	height: 100%;
}

img {
	width: 100%;
	height: 100%;
}

table{
	clear: both;
	position: relative;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

#navbar{
	background: #e8e8e8;
}

.whole {
	max-height: 100%;
	max-width: 600px;
}

.picture-div {
	max-height: 100%;
}

/* Tool/adjustment classes */

.center {
	margin: auto;
}

.center-text {
	text-align: center;
}

.button {
	background: linear-gradient(white, gray);
	padding: 2px;
	margin: 2px 2px 2px 2px;
	border: 1px solid black;
	text-align: center;
}

.no-line {
	text-decoration: none;
	color: black;
}

.full-width {
	width: 100%;
	height: 100%;
}

.smaller-margins {
	margin: 10px 0 10px 0;
}

/* Default list settings */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: block;
	color: #000;
	text-decoration: none;
}

li:hover {
	color: white;
}

li:active {
	color: white;
}

/* Default admin settings */

#admin {
	text-align: center;
	background-color: red;
	background: linear-gradient(white, red);
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 3px 0 3px;
	border: 1px solid black;
}

#admin:hover {
	text-decoration: underline;
}

#admin_UI {
	text-align: right;
}

#admin_buttons {
	color: black;
	border-radius: 10px;
	max-width: 200px;
	max-height: 40px;
	margin-left: 475px;
	text-align: center;
}

#admin_submit {
	background-color: gray;
	float: left;
	margin-right: 10px;
}

#admin_cancel {
	background-color: gray;
	float: left;
}

#admin_submit:hover {
	text-decoration: underline;
}

#admin_cancel:hover {
	text-decoration: underline;
}